
/*
Tipue Search 5.0
Copyright (c) 2015 Tipue
Tipue Search is released under the MIT License
http://www.tipue.com/search
*/


.tipue_search_content_title
{
     font: 300 21px/1.7 'Open Sans', sans-serif;
	margin-top: 23px;
}
.tipue_search_content_title a
{
     text-decoration: none;
}
.tipue_search_content_url
{
     font: 300 14px/1.9 'Open Sans', sans-serif;
     word-wrap: break-word;
     hyphens: auto;
}
.tipue_search_content_url a
{
     text-decoration: none;
}
.tipue_search_content_text
{
     font: 300 15px/1.6 'Open Sans', sans-serif;
     word-wrap: break-word;
     hyphens: auto;
     margin-top: 3px;
}
.tipue_search_content_debug
{
     font: 300 13px/1.6 'Open Sans', sans-serif;
     margin: 5px 0;
}
.h01
{
     font-weight: 400;
}

#tipue_search_foot
{
     margin: 51px 0 21px 0;
}
#tipue_search_foot_boxes
{
	padding: 0;
	margin: 0;
     font: 12px 'Open Sans', sans-serif;
}
#tipue_search_foot_boxes li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}
#tipue_search_foot_boxes li a
{
	padding: 10px 17px 11px 17px;
	margin-right: 7px;
	text-decoration: none;
	text-align: center;
}
#tipue_search_foot_boxes li.current
{
	padding: 10px 17px 11px 17px;
	margin-right: 7px;
	text-align: center;
}
#tipue_search_foot_boxes li a:hover
{
     background: #f6f6f6;
}


/* spinner */


.tipue_search_spinner
{
     padding: 31px 0;
     width: 50px;
     height: 28px;
}
.tipue_search_spinner > div
{
     background-color: #777;
     height: 100%;
     width: 3px;
     display: inline-block;
     margin-right: 2px;
     -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
     animation: stretchdelay 1.2s infinite ease-in-out;
}
.tipue_search_spinner .tipue_search_rect2
{
     -webkit-animation-delay: -1.1s;
     animation-delay: -1.1s;
}
.tipue_search_spinner .tipue_search_rect3
{
     -webkit-animation-delay: -1.0s;
     animation-delay: -1.0s;
}
@-webkit-keyframes stretchdelay
{
     0%, 40%, 100%
     {
          -webkit-transform: scaleY(0.4)
     }
     20%
     {
          -webkit-transform: scaleY(1.0)
     }
}
@keyframes stretchdelay
{
     0%, 40%, 100%
     {
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
     }
     20%
     {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
     }
}
