.breadcrumb {
  border: none;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
}

header.page-header {
  margin: 0;
  padding: 0;
}

.navbar-header img.logo {
    margin-top: 5px;
}

.navbar-nav > li > a.m4z3ring {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 0;
}

aside {
  margin-top: 20px;
}

pre.output {
  color: #333333;
}
