{% if 'tipue_search' in PLUGINS %}
  <li  class="list-group-item search">
    <form action="search.html">
      <div class="input-group">
        <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" class="form-control" placeholder="{{ _('Search') }}" required>
        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </form>
  </li>
{% endif %}
