{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article class="row">
                {% if article.image and not loop.index % 2 %}
                <div class="col-lg-4">
                    <img src="{{ SITEURL }}/{{ article.image }}" class="img-responsive" />
                </div>
                {% endif %}
                {% if article.image %}
                <div class="col-lg-8">
                {% else %}
                <div class="col-lg-12">
                {% endif %}
                    <h2>
                      {% if SHOW_ARTICLE_CATEGORY %}
                          <a href="{{ SITEURL }}/{{ article.category.url }}"><i class="fa fa-{{ CATEGORIES[article.category] }}"></i></a>
                      {% endif %}

                      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    </h2>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <div class="well well-sm">
                            {% include "includes/article_info.html" %}
                        </div>
                    {% endif %}
                    {% if DISPLAY_SUMMARIES %}
                    <div class="summary">
                        {{ article.summary }}
                        {% include 'includes/comment_count.html' %}
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">{{ _('more') }} ...</a>
                    </div>
                    {% endif %}
                </div>
                {% if article.image and loop.index % 2 %}
                <div class="col-lg-4">
                    <img src="{{ SITEURL }}/{{ article.image }}" class="img-responsive" />
                </div>
                {% endif %}
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
